<h1> <%= @book.title %> </h1>

<p>
  Desc: <%= @book.desc %>
</p>

<p>
  Author: <a href="/authors/<%= @book.author.id %>"> <%= @book.author.name %> </a>
</p>

<form action="/books/<%= @book.id %>" method="post">
  <input type="hidden" value="delete" name="_method">
  <input type="submit" name="submit" value="Delete Book">
</form>


<a href='/books'> Back to home </a>
